# Python
__pycache__/
*.pyc
*.log
*.env
.DS_Store

# Virtual environment
myenv/

# Operating System
.idea/
.vscode/

# Untracked directories from git status
.VirtualBox/
.accessibility.properties
.anaconda/
.android/
.arduinoIDE/
.bash_history
.codeium/
.conda/
.condarc
.continuum/
.cursor/
.gitconfig
.gk/
.gradle/
.idlerc/
.ipynb_checkpoints/
.ipython/
.jupyter/
.lesshst
.matplotlib/
.py
.qodo/
.ssh/
Desktop/
Downloads/
Favorites/
Links/
Microsoft/
Music/
NTUSER.DAT
NTUSER.DAT{5a0bf391-3f15-11f0-af02-8b5614b1a246}.TM.blf
NTUSER.DAT{5a0bf391-3f15-11f0-af02-8b5614b1a246}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{5a0bf391-3f15-11f0-af02-8b5614b1a246}.TMContainer00000000000000000002.regtrans-ms
4173fa16-4253-4f2c-8ad9-3a465880ce48.py
AISHA/
Abhishek-Django Backend-8874545080.pdf
Arduino IDE.lnk
CLUB REQUEST 2025.docx
CUET (UG) - 2025.pdf
ColorCoded_MR_Report.xlsx
Cursor.lnk
Farmer registry Enrollement Data.pdf
Ghazipur_MR_Report_Combined.csv
HRSID_jpg/
LIFESTYLE.docx
MSTAR (2).zip
MSTAR (2)/
MSTAR.zip
MSTAR/
Music_Equipment_List.xlsx
Music_Equipment_List__.xlsx
Part2.advanced Api conceptdocx.docx
Part2MODULE-4.docx
PassportAppointmentReceipt.pdf
PassportDetail.pdf
PassportViewPrintApplicationReceipt.pdf
Postman.lnk
Practice HDFS Commands.pdf
Recording 2025-07-07 111918.mp4
SAR/
Start/
Visual Studio Code.lnk
Vol2-paper10.pdf
abh_Res_.pdf
abhishek_portfolio/
ango.exe.lnk
battery performance --powercfg batt.txt
bda_project/
desktop.ini
flutter/
flutter_application_1/
hadoop-1.2.1/
issues and difficulties of image fusion and semantic segmentation to offer a comprehensive overview of the application of optical and SAR image deep feature fusion in semantic segmentation.docx
main folder/
medicine_catalog (1).xlsx
mr_optimization_backend (2).zip
mr_optimization_backend.zip
mr_optimization_backend/
ngrok-v3-stable-windows-amd64.zip
ngrok.exe
nsp 3rd year/
number_avg_project.zip
number_avg_project/
performances/
portfolio/
res/
saiyaara_ab.mp4
ship_dataset_v0/
~$Flipkart_Presentation.pptx
~$PYTHON PROJECT.pptx
~$Res.docx
~$otional Wellness.docx
~$rt2.advanced Api conceptdocx.docx
~$ver_letter.docx
Prodigy_task1.ipynb
PycharmProjects/
Saved Games/
Searches/
Untitled.ipynb
Untitled1.ipynb
Untitled2.ipynb
Untitled3.ipynb
Untitled4.ipynb
Untitled5.ipynb
Untitled6.ipynb
Untitled7.ipynb
Untitled8.ipynb
Untitled9.ipynb
Videos/
anaconda3/
battery-report.html
cat.jpg
delete
java_error_in_pycharm64.hprof
lab.cpp
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
num_avg/
pr.c
storefront/
tempCodeRunnerFile.python